<footer class="bg-dark text-white text-center py-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="https://www.linkedin.com/in/david-chang-32360484/" class="text-white mx-2" target="_blank" rel="noopener noreferrer">LinkedIn</a>
                <a href="mailto:magic2313@gmail.com" class="text-white mx-2" target="_blank" rel="noopener noreferrer">Email</a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <p class="mb-0">© 2024 shuminapp.com All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
