{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>
<!-- {{ post.author.first_name }} 
{{ post.author.last_name }} - 
{{ post.post_date }} -->
<small class="text-muted">{{ post.post_date|date:"Y-m-d"}}</small>

    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'update_post' post.pk %}">Edit</a> 
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete_post' post.pk %}">Delete</a>         
        {% endif %}
    {% else %}
        <!-- Your are not allow here (and you know it...) -->
    {% endif %}
<br/>
<hr>
<br/>

{% if post.header_image %}
    <img src="{{ post.header_image.url }}" class="img-fluid">
{% endif %}

<br/><br/>
<div class="post-body-content">
    {{ post.body|safe }}
</div>

<br/><br/>
<!-- <a href="{% url 'home' %}" class="btn btn-secondary">Back</a> -->  

<br/><br/>
<hr>
<br/>
<form action="{% url 'like_post' post.slug %}" method="POST">
    {% csrf_token %}

    {% if user.is_authenticated %}
        {% if liked %}
            <button type="submit" name="post_slug" value="{{ post.slug }}" class="btn btn-danger btn-sm">Unlike</button> 
        {% else %}
            <button type="submit" name="post_slug" value="{{ post.slug }}" class="btn btn-primary btn-sm">Like</button> 
        {% endif %}
    {% else %}
        <small><a href="{% url 'login' %}">Login</a> to like</small>
    {% endif %}
        - {{ total_likes }} Likes
</form>

<br/>

<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-2">
            {% if post.author.profile.profile_pic %}
                <img src="{{ post.author.profile.profile_pic.url }}" class="card-img"  width="200" height="200">
            {% else %}
                <img src="{% static 'blog/images/default_profile_pic.png' %}" class="card-img"  width="200" height="200">
            {% endif %}
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">
                    {{ post.author.first_name }}
                    {{ post.author.last_name }}
                </h5>
                <p class="small text-muted">

                    {% if post.author.profile %}
                        <a href="{% url 'show_profile_page' post.author.profile.id %}">Profile Page</a>
                    {% else %}
                        <span>No profile</span>
                    {% endif %}
                    
                    {% if post.author.profile.website_url %}
                        | <a href="{{ post.author.profile.website_url }}">Website</a>
                    {% endif %}

                    {% if post.author.profile.facebook_url %}
                        | <a href="{{ post.author.profile.facebook_url }}">Facebook</a>
                    {% endif %} 

                    {% if post.author.profile.twitter_url %}
                        | <a href="{{ post.author.profile.twitter_url }}">Twitter</a>
                    {% endif %} 

                    {% if post.author.profile.instagram_url %}
                        | <a href="{{ post.author.profile.instagram_url }}">Instagram</a>
                    {% endif %} 

                    {% if post.author.profile.pinterest_url %}
                        | <a href="{{ post.author.profile.pinterest_url }}">Pinterest</a>
                    {% endif %} 

                </p>
                <p class="card-text">
                    {{ post.author.profile.bio }}
                </p>
            </div>
        </div>
    </div>
</div>

<br/><br/>
<div class="comments">
    <h1>Comments...</h1>
    <br/>
    {% if not post.comments.all %}
        No Comments Yet...
    {% else %}
        <br/>
        {% for comment in post.comments.all %}
            <div class="comment">
                <strong>{{ comment.name }} - {{ comment.date_added }}</strong>
                <br/>
                {{ comment.body }}
            </div>
            <br/><br/>
        {% endfor %}
    {% endif %}
</div>
<br/>


<br/><br/>

<div class="add_comment">
    <h1>Add Comment...</h1>
    <br/><br/>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button class="btn btn-secondary">Add Comment</button>
        </form>
    </div>
</div>

<style>
.post-body-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.post-body-content img {
    max-width: 100%;
    height: auto;
}
.add_comment, .comment {
    background-color: rgb(247, 247, 239);
    padding:1em;
    border-radius: 15px;
}
/* Custom CSS to override Prism.js comment background */
.token.comment {
    background: none !important;
    color: #6a737d !important; /* Adjust the comment color as needed */
}
</style>

<!-- Include Prism.js for syntax highlighting -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism-okaidia.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-python.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/plugins/line-numbers/prism-line-numbers.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/plugins/line-numbers/prism-line-numbers.min.css" rel="stylesheet" />

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    Prism.highlightAll();
  });
</script>

{% endblock %}
