{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if category_posts %}
    <h1>{{ cats }}</h1>

    {% for post in category_posts %}
        <article class="media content-section article-spacing">
            {% if post.author.profile.profile_pic %}
                <img class="rounded-circle article-img custom-margin" src="{{ post.author.profile.profile_pic.url }}" width="200" height="200">
            {% else %}
                <img class="rounded-circle article-img custom-margin" src="{% static 'blog/images/default_profile_pic.png' %}" width="200" height="200">
            {% endif %}
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ post.author }}</a>
                    <small class="text-muted">{{ post.post_date|date:"F d, Y" }}</small>
                    <small>
                        {% if user.is_authenticated %}
                            {% if user.id == post.author.id %}
                                -
                                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'update_post' post.pk %}">Edit</a>
                                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete_post' post.pk %}">Delete</a>
                            {% endif %}
                        {% endif %}
                    </small>
                </div>
                <h2><a class="article-title" href="{% url 'article-detail' post.slug %}">{{ post.title }}</a></h2>
                <!-- <p class="article-content">{{ post.body|slice:":200"|safe }}</p> -->
                <p class="article-content">{{ post.snippet }}</p>
            </div>
        </article>
        {% if not forloop.last %}
            <hr class="solid">
        {% endif %}
    {% endfor %}

    <!-- <ul>
        {% for post in category_posts %}
            <li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> - 
                {{ post.author.first_name }}
                {{ post.author.last_name}} - {{ post.post_date }}
                <small>
                    {% if user.is_authenticated %}
                        - 
                        <a href="{% url 'update_post' post.pk %}">(Edit)</a> 
                        <a href="{% url 'delete_post' post.pk %}">(Delete)</a> 
                    {% endif %}
                </small> <br/>
            {{ post.body|slice:":200"|safe }}</li>
        {% endfor %}
    </ul> -->
{% else %}
    <h2>Sorry this page does not exist...</h2>
{% endif %}

{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}

<style>
    .custom-margin {
        margin-right: 20px;
    }

    .article-spacing {
        margin-bottom: 20px;
    }

    /* Dashed border */
    hr.solid {
    border-top: 1px solid #bbb;
    }

</style>

{% endblock %}