{% extends 'base.html' %}
{% load static %}

{% block slider %}
    {% include 'slider.html' %}
{% endblock %}

{% block content %}

<h1>Posts</h1>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for post in object_list %}
                    <div class="col-md-6">
                        <div class="card mb-4 box-shadow">
                            <a href="{% url 'article-detail' post.slug %}">
                                {% if post.header_image %}
                                    <img class="card-img-top fixed-size-image" src="{{ post.header_image.url }}">
                                {% else %}
                                    <img class="card-img-top fixed-size-image" src="{% static 'blog/images/default_header_image.jpg' %}">
                                {% endif %}
                            </a>
                            <div class="card-body">
                                <h2><a href="{% url 'article-detail' post.slug %}">{{ post.title }}</a></h2>
                                <small class="text-muted">{{ post.post_date|date:"Y-m-d"}}</small>
                                <p class="card-text">
                                    <!-- {{ post.body|slice:":200"|safe }} -->
                                    {{ post.snippet }}
                                </p>
                                <!-- <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

<!-- {% for post in object_list %}
    <article class="media content-section">
        {% if post.author.profile.profile_pic %}
            <img class="rounded-circle article-img" src="{{ post.author.profile.profile_pic.url }}">
        {% else %}
            <img class="rounded-circle article-img" src="{% static 'blog/images/default_profile_pic.png' %}">
        {% endif %}
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.post_date|date:"F d, Y"}}</small>
                <small>
                    {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}
                            - 
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'update_post' post.pk %}">Edit</a> 
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete_post' post.pk %}">Delete</a> 
                        {% endif %}
                    {% endif %}
                </small>
            </div>
            <h2><a class="article-title" href="{% url 'article-detail' post.pk %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.body|slice:":200"|safe }}</p>
        </div>
    </article>
{% endfor %} -->

{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}


<!-- <ul>
{% for post in object_list %}
    <li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> - 
        <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a> - 
        {{ post.author.first_name }}
        {{ post.author.last_name}} - {{ post.post_date }}
        <small>
            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                    - 
                    <a href="{% url 'update_post' post.pk %}">(Edit)</a> 
                    <a href="{% url 'delete_post' post.pk %}">(Delete)</a> 
                {% endif %}
            {% endif %}
        </small> <br/>
    {{ post.snippet }}
    {{ post.body|slice:":200"|safe }}</li> # replace by {{ post.snippet }}
{% endfor %}
</ul> -->

{% endblock %}